

#container{
    display: flex;
    flex-direction: column;
    align-content: space-between
}

#menuBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content:space-around;
    width: 99vw;
    height: 5vh;
    
    background-color:turquoise;
    border:solid turquoise 2px;
    margin-right:10px;
    margin-left:-3px;
    
}
#name{
    margin-right: 65vw;
    display:flex;
    align-items: center;
    
    
    font-size: 20px;
    color: white;
    
}

#button1{
    background-color: lightslategray;
    color: white;
}
#button2{
    background-color: lightslategray;
    color: white;
}
#button3{
    background-color: lightslategray;
    color: white;
}
#button4{
    background-color: lightslategray;
    color: white;
}
#button5{
    background-color: lightslategray;
    color: white;
}

#img-wrapper{
   
    align-content: flex-start;
    float:right;
    display:flex;
    justify-content: flex-end;
    margin-right:2vw;
    margin-top:-84vh;
    width:50vw;
    height:450px;
    background-color:rgba(169,169,169,.7) ;
    border: solid turquoise 2px;
    
     
    
}

img{
    border:solid turquoise 2px;
    display:flex;
    align-items: flex-end;
    margin-right: 2vw;
    margin-top: 2vh;
    width: 300px;
    height:400px;
    
    

}
#shortBio{
    text-align: center;
    border: white solid 2px;
    color: white;
    font-size: 20px;
    margin-top: 2vh;
    margin-right: 2vw;
    margin-left: 2vw;
    height: 400px;
    width:370px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    flex-direction: row;
    justify-content: flex-start;
}

#container2{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 5vh;
    width: 40vw;
    height: 700px;
   
    
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 2%;
    line-height: 550px
}