.container{
    display:grid;
    width:100;
    height: 100%;
    grid-template-columns: 25vw 25vw 25vw 25vw ;
    grid-template-rows: 5vh 45vh 40vh 9vh;
    grid-gap: 0rem;
    grid-template-areas: 
    "header     header    header    header"
    "content-1  content-1 content-2 content-2  "
    "content-3  content-3 content-3 content-3"
    "footer     footer    footer    footer    ";
}

.header{
    grid-area: header;
    background-color: green;
    
}
.content-1{
    grid-area: content-1;
    background-color:green;
}
.content-2{
    grid-area: content-2;
    background-color: green;
}
.content-3{
    grid-area:content-3;
    background-color: aqua
}
.footer{
    grid-area: footer;
    background-color:purple;
}

.testbutton {
    position: absolute;
    top: 50%;
    height: 200px;
    width: 200px;
    background-color: rebeccapurple;
    border: 1px black solid;
    transition: .1s;
}

.testbutton:hover {
    background-color: aqua;

}

.testbutton:active {
    background-color: yellow;
}




 
