.container{
    display:grid;
    width:750px;
    height: auto;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: .2fr, 5fr, 1fr;
    grid-gap: 2rem;
    grid-template-areas: 
    "header  header  header"
    "content-1  .    content-2"
    "footer  footer  footer";
}

.header{
    grid-area: header;
}
.content-1{
    grid-area: content-1;
}
.content-2{
    grid-area: content-2;

}
.footer{
    grid-area: footer;
}


.header{ 
    background-color: green;
}